on:
  push:
    branches:
      - main
      - feature/first-feature
  pull_request:
    branches:
      - main

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: checkout code
        uses: actions/checkout@v4
      - name: setup node.js
        uses: actions/setup-node@v3
        with:
          node-version: 18
      - name: run commands
        run: whoami && df -h

